body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map {
	width: 100%; 
	height: 100%; 
}
.mycluster{
	background-image: url('./cmarker.png');
	background-size: 100% 100%;
}